.Header .navbar {
    background: #1e5631;
} 

.navbar-brand img {
    width: 125px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
    padding: 0px 30px;
}

.join-discord {
    text-decoration: none;
    color: #496300;
    background: #fff;
    padding: 2px 12px;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
}
